body{
    /*margin:0 10px;*/
    margin: 0;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    color:#333;
    /* background-color: red; */
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

.main{
    background-color: #4a5568;
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

table{
    border-spacing: 5px;
}

table, th, td {

    border-radius: 5px;
    margin: 5px;
}
th, td {
    background-color: #96D4D4;
    padding: 15px;
}

td{
    width: 70px;
    height: 70px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
}

td:hover{
    background-color:#B5E1E1 ;
}


.calc__main__card{
    width: 500px;
    margin: 0 auto;
    /*background-color: red;*/
}

.calc__number{
    display: block;
    background-color: #96D4D4;
    /*width: auto;*/
    border-radius: 5px;
    width: 205px;
    margin-left: 2px;
    text-align: right;
    padding: 5px;
}

.calc__history{
    background-color:#3B4452;
    vertical-align: bottom;
    text-align: right;
    height: auto;
    padding-right: 2px;
    border-radius: 5px 5px 0 0 ;
}

.calc__text{
    font-size: 14px;
    text-align: right;
    vertical-align:bottom;
    padding: 5px;
    border-radius: 0 0 5px 5px;
    background-color: #ffffff;
}
